html, body {
    /*height: 100%;*/
}
@charset "UTF-8";
* {
   font-size: 12px;
}
#container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	height: 100%;
	min-height: 100%;
}
/*Header elmundotec*/
#header  {
	margin: 5px 0 5px;
	padding-bottom: 0px;
}
#header .bg-primary {
    padding: 15px;
}
#titulo {
    margin-top: 10px;
    margin-bottom: 0px;
}	
/**/
.alert h4{
	margin-bottom: 0px;
}
/* Menu tap espacio y cabecera*/
.menu-level2{
	padding-left: 18px;
}
.panel-body {
    padding: 0px; 
}
.panel-heading {
 padding: 5px 10px;
}
/* Menu oringinal */
.panel a {
  color:#777;
}
.panel-scroll {
    max-height: 460px;
	overflow: hidden;
	overflow-y: auto;
 }
.panel a:hover {
 text-decoration:none;
 color:#222;
}
.panel .table td {
 border-color: #f3f3f3;
}

/*Tabla Index td boton*/
table .btn-xs{
	line-height: 1;
}
.table-condensed>tbody>tr>td, 
.table-condensed>tbody>tr>th, 
.table-condensed>tfoot>tr>td, 
.table-condensed>tfoot>tr>th, 
.table-condensed>thead>tr>td, 
.table-condensed>thead>tr>th {
    padding: 2px;
}
/*Buscador Input*/
.input-xs {
	height: 27px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
/*Paginador*/
.pagination {    
    margin: 10px 0;
}
.pagination-sm>li>a, .pagination-sm>li>span {
	padding: 5px 7px;
    line-height: 1;
}
